In [ ]:
#KEY NOTES FOR FUNCTIONS:
#- Print function will always return the nontype of the value.
#- If the function is giving the output with the print statement then its return type would be also nontype and we will not be able to perform any kind of operations with that function.
#- In order to remove this ambiguity, we would be suing the return type.

Case1. Output using print

In [ ]:
def testing(a,b):
  if type(a)!=str:
    print(str(a)+b)
  else:
    print(a+b)

In [ ]:
testing("Mehrotra","Pranjal")

In [ ]:
type(testing("Mehrotra","Pranjal"))

In [ ]:
testing(4,"Pranjal") + "Rajesh"       # Not able to perform any other operation with the test1.

Case 2.Output using return

In [ ]:
def test1(a,b):
  if type(a)!=str:
    return str(a)+b
  else:
    return a+b

In [ ]:
test1(4,"Pranjal")

In [ ]:
type(test1(4,"Pranjal"))

In [ ]:
test1(4,"Pranjal") + "Rajesh"

CONCEPT

In [ ]:
def test3(a,b,c):
  return a+2,b+3,c*8,a+b+c

In [ ]:
test3(13,56,56) # Output is in the form of tupples.

In [ ]:
# Suppose if we want to individually find out the values of a+2,b+ # and son then we can use the place holder as shown.

In [ ]:
A,B,C,D=test3(13,56,56)

In [ ]:
A   # It is holding a+2 where a=13.

In [ ]:
B   # It is holding b+3 where a=56.

In [ ]:
C  # It is holding c*8 where b=56.

In [ ]:
D  # It is holding a+b+c where a=13,b=56.c=56.

In [ ]:
# Now suppose we are interested in the last variable for doing various airthmatic operations and we have to initilised only one variable for that.Then we can use the place holder

In [ ]:
_, _, _ ,D=test3(13,56,56)

In [ ]:
_

In [ ]:
D

In [ ]:
# DOCSTRING CONCEPT - for creating the docstring use the sentences between """------------------""" between these quotations.

In [ ]:
def test8(l):
  """This is function returning the number of string character present in the data type input by the user"""            # Docstring of test8 has been created.
  count=0
  for i in l:
    if type(i)==str:
      count+=1
  print(count)

In [ ]:
l=["Pranjal","Nishi,",5,6,7,"Rajesh"]

In [ ]:
test8(l)

In [ ]:
# If we have to pass n no of arguments or parameters in our function.

In [ ]:
def test5(*args):    # With the help of this *args, we can pass any no of arguments inside function.
  return args

In [ ]:
test5(3,4,5,6,7)

In [ ]:
test5(2,3,4)

In [ ]:
test5("Pranjal","Nishi","Rajesh",5,6,7,45.6)

In [ ]:
# Problem statement: N arguments we have to input and then dfo the concatanation of all the strings present in the argument.

In [ ]:
def concat(*args):
  count=""
  for i in args:
    if type(i)==str:
      count = count+i
  print(count)

In [ ]:
concat("Rajesh","Nishi","Guddu",6,7,8,9)

In [ ]:
def test5(*args,a,b,c,d):    
  return args,a,b,c,d

In [ ]:
test5(3,4,6,7,8,9) # Now this is giving error as the programme is expecting the args contain all the parameters and we have passed a,b,c,d also but no initilization has been done.

In [ ]:
test5(3,4,6,7,8,9,a=78,b=90,c=67,d=9999) # Assigning the values while passing in the parameters is the solution to the above problem which has been rectified here.

In [ ]:
# If we want to pass the key value pair as an n no of arguments inside the function then we have to use the kwargs concept.

In [ ]:
def test5(**kwargs):    
  return kwargs

In [ ]:
test5(a=5,b=89,c=788,Pranjal="Rajesh")

**Imp questions on args and kwargs**

*args should be in between the variables defined and the **kwargs

if args are defined in starting     ----> it will give error

if args are defined after the kwargs---->it will give error

In [ ]:
# Case 1 : args are defined in between arguments a,b and kwargs

In [ ]:
def func(a, b, *args, option = False, **kwargs):
    print(a, b)
    print(args)
    print(option)
    print(kwargs)

func(1, 3, 10, 20, Name = 'Tom', Salary = 60000)

In [ ]:
# Case 2 : args are defined in the starting ----> it will give error

In [ ]:
def func(*args,a,b ,option = False, **kwargs):
    print(a, b)
    print(args)
    print(option)
    print(kwargs)

func( 10, 20, 30,50,Name = 'Tom', Salary = 60000)

In [ ]:
# Case 3 : args are defined after the kwargs ----> it will give error

In [ ]:
def func(a, b, **kwargs,*args):
    print(a, b)
    #print(args)
    print(kwargs)

func(1, 3, 10, 20, Name = 'Tom', Salary = 60000)

In [ ]:
def func(a, b, *args,**kwargs):
    print(a, b)
    #print(args)
    print(kwargs)

func(1, 3, 10, 20, Name = 'Tom', Salary = 60000)