In [ ]:
import pandas as pd   #pd is not keyword.It is just a short form for pandas. We can use any name instead of pd. viz. pranjal,  mm,etc.

 Some important concepts

 DATA FRAME- Whenever we are trying to import excel, json,csv data files into python using pandas, then python converts all the data present in those files into the table like structure and it is known as data frame.

In [ ]:
pwd

In [ ]:
# Some important pandas functions:
# 1. df.head() - By default it will show the first five records present in the dataframe.

# 2. df.tail() - By default it will show the last five records present in the dataframe.
# If we want to display only n items or records then we can use accordingly df.head(n) or df.tail(n) where n represnets the no of records you want to display or show.

# 3. df.columns - It will display all the column names present in the file which we have imported in the python.

# 4.if we want to see the entire dataset of the particular column then we have to follow this:
#      df.['Column name'],         where column name refers to the column whose entire data you have to fetch.

# 5.If we want to see the entire data set of the more than one column, then we have to pass the names of the entire data set in the list like this:
#     df.[['Column Name1','Column name 2',"Col name 3"]]
# 6 .All type of operations(Slicing),etc which is poosible.

In [ ]:
# CONCEPT 1. UPLOADING THE CSV FILE PRESENT IN THE LOCAL SYSTEM.

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Admission_Prediction.csv']))
df2

In [ ]:
# DISPLAYING THE FIRST 5 DATASETS PRESENT IN OUR DATAFRAME d2

In [ ]:
df2.head()

In [ ]:
# Displaying the First 3 dataset present in the dataframe df2

In [ ]:
df2.head(3)

In [ ]:
# Displaying all the columns present in the dataframe df2

In [ ]:
df2.columns

In [ ]:
 # Displaying the entire data of the Particular Column.

In [ ]:
#COLUMNS OPERATIONS

In [ ]:
print(df2[['GRE Score']]) #  It will try to include the name of the column also
print(df2['GRE Score'])   #  It will try yto diplay the same result without the name of the column.

In [ ]:
type(df2['GRE Score'])  #It is of the type Series.

In [ ]:
 type(df2[['GRE Score']]) # It is of the type Dataframe.

In [ ]:
 # Displaying the entire data of the Some Columns.

In [ ]:
df2[['GRE Score','SOP','Chance of Admit']]

In [ ]:
# Slicing Opertions of data frame in Columns data.

In [ ]:
df2[['GRE Score','SOP','Chance of Admit']][0:8]  # It will display all the results of dataset upto 7.

In [ ]:
df2[['GRE Score','SOP']][0:8]

In [ ]:
# Now retrieving the data present at the even location for GRE Score And SOP

In [ ]:
df2[['GRE Score','SOP']][0:: 2]

In [ ]:
# Now retrieving the data present at the odd location for GRE Score And SOP

In [ ]:
df2[['GRE Score','SOP']][0::]

In [ ]:
#Imp Concept: In series we have indexes and python recognizes that indixes too.We can call the column via indexesas shown below. 
df2['GRE Score'][0]

In [ ]:
#Imp Concept: In dataframes we have indexes and but python  dont recognizes that indixes.We cannot  call the column via indexesas shown below.
df2[['GRE Score']][0]

In [ ]:
# But the slicing operations works efficiently in both of them as shown below:
print(df2['GRE Score'][0:9])
print(df2[['GRE Score']][0:9])

In [ ]:
# Very important note: If we have file other than CSV(Comma seperated values), then we have to include sep= "special character(@,&)" 
# while calling the file in python as shown below:
# df2 = pd.read_csv(io.BytesIO(uploaded['Admission_Prediction.csv'],sep="@")).

In [ ]:
#CONCEPT 2: Reading multiple worksheets in Excel.

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
xls = pd.ExcelFile("Weekly_Project_Status.xlsx")
df1 = pd.read_excel(xls, 'P1')
df2 = pd.read_excel(xls, 'P2')
df3 = pd.read_excel(xls, 'P3')

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# CONCEPT 3: Reading the CSV Files from Github.

In [ ]:
df4=pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")

In [ ]:
df4

In [ ]:
type(df4)

In [ ]:
# Following are the steps:
# 1. Just go to the git hub and enter the file which u want to upload in python.
# 2. After entering, there will be raw option available in the right sids of the github.
# 3. After entering the raw option, comma separated file will be generated and just copy the url of that file and do the following thing:
#    df4=pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")
# 4. File will be uploaded in the python and we can call the required dataframe.

In [ ]:
# CONCEPT 4 : Reading the HTML Files.
# Python always try to import the html files in the form of list.Inside list, it contains multiple tables and each table are called the dataframes.
# Whatever be the operations which we have performed above is on the dataframes. 
# and in order to access the dataframes inside the list, we have to perfrom the index opearions as we have done in the list concepts.

In [ ]:
df5= pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
# The main issue with the pd.read_html is that the python will read the data of the html file which is present inside the header tag(only tabular dataset).If the data is 
# not present inside the header, then no data will be imported in the python.Thats why some of the data are still misisng while importing the above file.
# if we want to import the images, etc of the html files, then we have to follow the different approach.
df5
type(df5)

In [ ]:
# In order to find out the no of tables availabe in our dataframe, then we have to use the len function.
len(df5)

In [ ]:
# Now only one table is available inside the dataframe df5.

In [ ]:
#In order to extract the html data,we have to perform the operations of list.
#In df5 only one table is present hence, we can extract using 0 as the index nyumber of df5.

In [ ]:
# Now we are able to extract the data in the same format as it is present inside the html file.

In [ ]:
# Now we will be performing all the pandas operations in df5[0] only.
df5[0].head()
df5[0].tail() 
df5[0][['Player','TRB']][0:10]
df5[0].columns

In [ ]:
# OPEARIONS IN DATA FRAME

In [ ]:
# 1.Knowing the type of each columns present in the dataset.

In [ ]:
df5[0].dtypes   # dtypes- is used to find out the datatyps of each column present in the dataset.

In [ ]:
# Syntax for installing the pandas profiling in pandas.

In [ ]:
!pip install pandas-profiling # Syntax for installing the pandas profiling.

In [ ]:
  import numpy as np
  x= np.array([[3.2,7.8,9.2],
               [4.5,9.1,1.2]], dtype='int64')
  print(x.itemsize)
  print(x)

**MERGING 2 DATA FRAMES IN PANDAS**

In [ ]:
import pandas as pd
df2 = pd.DataFrame({'Name':['Toyato','audi','Honda','Infinite'],
                   'Manufacturing_date':[1990,1998,1980,2000],
                   })
df1 = pd.DataFrame({'Name':['Toyato','Honda','Infinite','Jeep'],
                   'Starting_price':['37k','30k','50k','45k'],
                    })
print(df1)

print(df2)

In [ ]:
# Case 1 : Applying right join on the above 2 tables

In [ ]:
pd.merge(df1,df2,how ='right')

In [ ]:
# Case 2 : Applying left join on the above 2 tables

In [ ]:
pd.merge(df1,df2,how ='left')

In [ ]:
# Case 3 : Applying inner join on the above 2 tables

In [ ]:
pd.merge(df1,df2,how ='inner')

In [ ]:
# Case 4 : Applying outer join on the above 2 tables

In [ ]:
pd.merge(df1,df2,how ='outer')