In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv") #Importing the titanic csv file from the github url

In [ ]:
df1.head()

In [ ]:
type(df1)

In [ ]:
df1.dtypes  # dtypes- is used to find out the datatyps of each column present in the dataset.

In [ ]:
# We have to find out the column names whose datatype is object type.

In [ ]:
df1.dtypes == "object"

In [ ]:
df1.dtypes[df1.dtypes == "object"]

In [ ]:
# Findng out the column name whose dtype is int

In [ ]:
df1.dtypes =="int"

In [ ]:
df2=df1.dtypes[df1.dtypes =="int"]

In [ ]:
type(df1.dtypes)

In [ ]:
df1.head()

In [ ]:
# Fetching details of all the columns whose datatype == object.

In [ ]:
# APPROACH 1- WHEN NO OF COLUMNS IS VERY LESS( Manually adding object datatype inside the series of df1)

In [ ]:
df1.dtypes

In [ ]:
df1[["Name","Sex","Ticket","Cabin","Embarked"]]

In [ ]:
# The above approach is applicable when we have very less columns.
# But if we have a very large number of columns present in our dataset 
# then we have to follow another apporach.

In [ ]:
# METHOD 2- using index operations of dataframes

In [ ]:
df1.dtypes=="object"

In [ ]:
df1.dtypes[df1.dtypes=="object"]

In [ ]:
df1.dtypes[df1.dtypes=="object"].index

In [ ]:
df1[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']]

In [ ]:
# Fetching details of all the columns whose datatype == int.

In [ ]:
df1.dtypes=="int"

In [ ]:
df1.dtypes[df1.dtypes=="int"]

In [ ]:
df1.dtypes[df1.dtypes=="int"].index

In [ ]:
df1[['PassengerId', 'Survived', 'Pclass', 'SibSp', 'Parch']]

In [ ]:
df1.dtypes

In [ ]:
# Fetching details of all the columns whose datatype == float.

In [ ]:
df1.dtypes=="float"

In [ ]:
df1.dtypes[df1.dtypes=="float"]

In [ ]:
df1.dtypes[df1.dtypes=="float"].index

In [ ]:
df1[['Age', 'Fare']]

In [ ]:
# Doing Multiple datatypes using one datframe statement.Like we have to find out the data ypes of object as well as int 64.

In [ ]:
df2=(df1.dtypes =='object') | (df1.dtypes =='int64') # Well pandas use bitwise &(And), |(or) and each condition should be wrapped in a ().

In [ ]:
df1.dtypes[df2]

In [ ]:
df1.dtypes[df2].index

In [ ]:
df1[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch',
       'Ticket', 'Cabin', 'Embarked']]

In [ ]:
df1

In [ ]:
# Performing initial analytics on tghe raw data we have been provided

In [ ]:
# PART1. PERFORMING ANALYTICS ON NUMERICAL DATA

In [ ]:
type(df1.describe())

In [ ]:
df1.describe()

In [ ]:
# The main disadvantage of the avove function is that df.describe()only gives the detailed description of the numerical data only.
# For the categorical data,the df.describe() model gets failed.

In [ ]:
# Now we are perfroming analytics on CATEGORICAL DATA

In [ ]:
df1.dtypes=="object"

In [ ]:
df1.dtypes[df1.dtypes=="object"]

In [ ]:
df1.dtypes[df1.dtypes=="object"].index

In [ ]:
df3=df1[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']]

In [ ]:
df3.describe()

In [ ]:
# Here frequecy descibes number of times the top data of each column appears at the top.

In [ ]:
df1.columns

In [ ]:
type(df1["Name"])

In [ ]:
df1["Name"] # Here this is the series type and we have to perform the slicing operation.

In [ ]:
df1["Name"][0:6:4]

In [ ]:
  df1

In [ ]:
# CERTAIN IMP OPERATIONS IN PANDAS

In [ ]:
# 1.INSETION OPERATION

In [ ]:
# Now I have to add one more column whose title would be "Pranjal".

In [ ]:
df1["Pranjal"] = "Mehrotra" # It has created new column Pranjal whose value has been entered as Mehrotra in all the cells of that column.

In [ ]:
df1

In [ ]:
df1["Pranjal"]

In [ ]:
# Filtering out all the recods where Age is null(NaN).

In [ ]:
# METHOD 1 - BY USING isnull() function

In [ ]:
df2=df1["Age"].isnull()   #  Approach to find out the Null values present in column values.

In [ ]:
df1[df2]

In [ ]:
df1[df2]["Name"] # Series datatype

In [ ]:
df1[df2][["Name"]] # Dataframe

In [ ]:
# METHOD 2 - USING NUMPHY.

In [ ]:
import numpy as np

In [ ]:
row_index_null=np.where(df1["Age"].isnull()==True) # Provides the index nos where Age has null value in it.

In [ ]:
# For fetching the data in row vise way, we have to use iloc.

In [ ]:
df1.iloc[0:3]

In [ ]:
df1.iloc[5]

In [ ]:
df1.iloc[row_index_null]

In [ ]:
df1.iloc[row_index_null][["Name"]] # Data frame type

In [ ]:
df1.iloc[row_index_null]["Name"]  # Series datatype

In [ ]:
type(df1.iloc[row_index_null]["Name"])

In [ ]:
type(df1.iloc[row_index_null][["Name"]])

In [ ]:
df1

In [ ]:
# Looking for the persons names who has given the maximum fair.

In [ ]:
try:
  df1.dtypes[df1[["Fare"]]==max(df1[["Fare"]])]
except:
  print("Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column")

In [ ]:
import numpy as np

In [ ]:
df1["Fare"]==max(df1["Fare"])

In [ ]:
max_fare=np.where(df1["Fare"]==max(df1["Fare"]))      # In pandas do any sort of operations with respect to dataframes.

In [ ]:
df1.iloc[max_fare]

In [ ]:
df1.describe()

In [ ]:
# Now we want to print only name ,age and sex:

In [ ]:
# Case 1 : Using numpy

In [ ]:
import numpy as np

In [ ]:
df1["Fare"]==max(df1["Fare"])

In [ ]:
maximum_fare=np.where(df1["Fare"]==max(df1["Fare"]))

In [ ]:
maximum_fare

In [ ]:
df1.iloc[maximum_fare] # Always prefer this sort when u are using numpy.

In [ ]:
df1.iloc[maximum_fare][["Name","Age","Sex"]]

In [ ]:
df1[maximum_fare] #  Column wise operation is not possible in case of numpy.

In [ ]:
# Case 2 : Using normal approach without numpy.

In [ ]:
df1["Fare"]==max(df1["Fare"])    # Finding out the maxium fare indices present in the dataset.

In [ ]:
df1[df1["Fare"]==max(df1["Fare"])]   # Now printing the required dataset corresponding to the indices.

In [ ]:
df1[df1["Fare"]==max(df1["Fare"])][["Name","Sex","Age"]] # Printing only Name,Age and Sex.

In [ ]:
# If we want to find out the indices without any dataset.

In [ ]:
maximum_fare=df1[df1["Fare"]==max(df1["Fare"])].index

In [ ]:
maximum_fare

In [ ]:
# Separating the male and female data

In [ ]:
df1

In [ ]:
male_data=df1[df1["Sex"]=="male"].index

In [ ]:
df1.iloc[male_data]

In [ ]:
# Female Data

In [ ]:
female_data=df1[df1["Sex"]=="female"].index

In [ ]:
df1.iloc[female_data]

In [ ]:
df1[df1["Sex"]=="male"]  # Method 2

In [ ]:
df1[df1["Sex"]=="female"] # Method 2

In [ ]:
df1

In [ ]:
# Question: Fetch dataset where SibSp=1 and Cabin = NaN

In [ ]:
df1[(df1["SibSp"]== 1) & (df1["Cabin"]== "C85")].index #  This is for finding the postion of the required data

In [ ]:
df1[(df1["SibSp"]== 1) & (df1["Cabin"]== "C85")]

In [ ]:
df1[(df1["SibSp"]== 1) & (df1["Cabin"]== "NaN")]

In [ ]:
(df1["SibSp"]== 1) & (df1["Cabin"]== 'NaN')

In [ ]:
# NEW OPERATION -  CREATE A NEW COLUMN(xyz) AND IT HOLDS THE SUMMATION OF  Pclass + SibSp

In [ ]:
df1

In [ ]:
df1["XYZ"]=df1["Pclass"]+df1["SibSp"]  # It adds the value of the Pclass + SibSp of elements respectively.

In [ ]:
df1

In [ ]:
# Try to filter out the record where age is maximum present in the df1.

In [ ]:
df1[df1["Age"]==max(df1["Age"])] #Displaying all the records corresponding to that index number.

In [ ]:
# Displaying only name and sex for the maxium age present in the dataset.

In [ ]:
df1[df1["Age"]==max(df1["Age"])][["Name","Sex"]]

In [ ]:
df1

In [ ]:
#  DELETION OPERATION

In [ ]:
#  Now we want to delete column XYZ present in the dataframe.

In [ ]:
#  In python, axis =0 indicates data present in the row while axis= 1 represents data present in the column.axis value  can have 2 values only . (0 and 1)

In [ ]:
df1.drop('XYZ',axis=1) #  Here XYZ is present in the column and hence manually we have to set the axis value to 1.

In [ ]:
# Now the XYZ has been deleted from the dataframe df1 which is the required task we have to perfrom.

In [ ]:
df1 # Now we have deleted XYZ above but it is showing XYZ deleted during the runtime but after the run time we are calling df1, it is again showing that XYZ is still there.

In [ ]:
# To solve the above problem we have to use the inplace =True.

In [ ]:
df1.drop("XYZ",axis=1,inplace=True) # Perfect syntax for deleting the any dataset compelety from the data frame.

In [ ]:
df1

In [ ]:
df1 # Now XYZ has been deleted completely.

In [ ]:
# Deleting the Multiple Columns From the Dataset.

In [ ]:
df1.drop(["XYZ","Embarked"],axis=1,inplace=True) # Now multiple columns has been delted.

In [ ]:
df1

In [ ]:
# Deleting the records at particular positions.

In [ ]:
df1.drop(1)

In [ ]:
df1

In [ ]:
# FILTER OUT ALL THE RECODRS WHERE AGE>30.

In [ ]:
import pandas as pd
df2=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df2

In [ ]:
age_above_30=df2[df2["Age"]>30].index

In [ ]:
df1.iloc[age_above_30]

In [ ]:
df2[df2["Age"]>30]

In [ ]:
# Performing Operations where null value is present in the dataframe df2.

In [ ]:
# In python we have an inbuilt function for removing all the null values present in the data frame.

In [ ]:
df2.dropna()

In [ ]:
df2

In [ ]:
df2

In [ ]:
df3=df2.tail(12)

In [ ]:
df3

In [ ]:
df3.dropna(thresh=5)

In [ ]:
df3.dropna(thresh=11)

In [ ]:
df3.dropna(thresh=12) # Doubt to be discussed during doubt clearing session.

In [ ]:
df3

In [ ]:
# Filling all the NULL values with some data.

In [ ]:
df3.fillna("PRANJAL") # It has filled all the NaN values with the PRANJAL.

In [ ]:
# WE HAVE TO FILL THE NaN VALUES WITH THE AVERAGE OF THE AGE.

In [ ]:
df3.fillna(value=df2["Age"].mean())      # It will fill all the values of NaN with the mean of age i.e whose value is 29.699118.

In [ ]:
# If you have any doubt regarding the null values present in the column of any data frame, then u can do the isnull() and verify your doubt.

In [ ]:
df3.isnull()

In [ ]:
df3.isnull().sum()

In [ ]:
# Now if we want to fill any specific NaN record i.e NaN value present in specific column.

In [ ]:
#Let Suppose we have to replace the NaN of age with the Average of the age values in the Dataframe.

In [ ]:
df2["Age"]=df2["Age"].replace("NaN",df2["Age"].mean()) # This will not work as we have not used np.NaN

In [ ]:
df2.isnull().sum()

In [ ]:
import numpy as np

In [ ]:
df2["Age"]=df2["Age"].replace(np.NaN,df2["Age"].mean())

In [ ]:
df2

In [ ]:
df2.isnull().sum()

In [ ]:
import pandas as pd
df1 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df2=df1.head()
#df2=df1['Embarked']=='S'
#df3=df2[['SibSp']]
#df3
#df2

In [ ]:
df2.groupby('Embarked')

In [ ]:
df2.loc[df2["Embarked"]=="S"]